rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // WARNING: Public access. For development only.
      allow read, write: if true;
    }
  }
}


